@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "IBM Plex Sans", sans-serif;
}

.prose {
  --tw-prose-pre-bg: var(--color-slate-100);

  img {
    @apply rounded-lg;
  }

  a {
    @apply no-underline hover:border-b border-dashed relative;
  }

  :where(code):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    @apply bg-slate-100 border border-slate-200 px-1 py-0.5 rounded font-medium;

    &::after,
    &::before {
      content: "";
    }
  }

  p {
    @apply text-justify;
  }
}
